@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: rgb(247, 247, 247);
  min-height: 100vh;
}

.navigation {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.navigation .brand h2 {
  font-weight: 400;
  letter-spacing: 2px;
}
.navigation .links {
  list-style: none;
  display: flex;
}
.link {
  text-decoration: none;
  color: rgb(119, 119, 119);
  margin: 0 5px;
  display: flex;
  align-items: center;
}
.link:hover {
  color: #000;
}
.productsWrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.productsWrapper > .productsBox {
  width: 70%;
}

.productsWrapper > .totalBox {
  width: 25%;
  height: 140px;
  margin-top: 10px;
  padding: 20px 0px;
  text-align: left;
  background: rgb(255, 255, 255);
}

.productsWrapper > .totalBox .elements {
  padding: 20px;
  text-align: left;
}

.productsWrapper > .totalBox .elements p {
  color: rgb(138, 138, 138);
}
.productsWrapper > .totalBox .elements h4 {
  font-size: 2rem;
  margin: 10px 0;
}
.productsWrapper > .totalBox .elements button {
  width: 100%;
  border: none;
  padding: 10px 0;
  color: #fff;
  background: rgb(22, 156, 73);
  cursor: pointer;
}

.productContainer {
  width: 80%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px 0;
}
.product {
  min-height: 200px;
  padding: 20px 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(255, 255, 255);
}
.imgBox {
  width: 100%;
  height: 100px;
  background-position: center;
  background-size: cover;
}
.imgBox img {
  width: 100px;
  height: 100px;
}

.btnContainer {
  width: 100%;
  display: flex;
}
.btnContainer > button {
  flex: 1;
  margin-top: 10px;
}
.btnContainer .details {
  border: none;
  background: transparent;
  cursor: pointer;
}
.btnContainer .addToCart {
  border: none;
  background: #000;
  color: #fff;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cartItem {
  width: 80%;
  padding: 20px;
  margin: 10px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.cartImgBox {
  width: 20%;
}
.productInfoBox {
  width: 80%;
  text-align: left;
  position: relative;
}
.remove {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
}
.remove:hover {
  color: rgb(255, 0, 0);
}

.productTitle {
  padding: 0 5px;
}
.cartItem img {
  width: 60px;
  height: 60px;
}
.cartBtns > button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
.cartBtns span {
  margin: 0 10px;
}

@media all and (max-width: 768px) {
  .productContainer {
    grid-template-columns: 1fr 1fr;
  }
  .cartContainer {
    width: 80%;
  }
}

@media all and (max-width: 480px) {
  .navigation {
    width: 90%;
  }
  .productContainer {
    grid-template-columns: 1fr;
  }
  .productsWrapper {
    width: 100%;
    flex-direction: column;
  }
  .productsWrapper > div {
    width: 100%;
  }
  .cartContainer {
    width: 100%;
  }
  .cartItem {
    width: 100%;
  }
}
